@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700,900&subset=latin,latin-ext);

@import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size:15px;
    -webkit-font-smoothing: subpixel-antialiased!important;
    color:black;
    font-weight:400;
    height:100%;
}

a{
    text-decoration:none;
    outline:none;
}

h1{
    font-size:56px;
    color:white;
    font-weight:bold;
    text-transform:uppercase;
    line-height:1.2;
}
  
p{
    font-size:19px;
    color:white;
    margin-top:50px;
}
  
  
h1 span{
    color:#2fa65d;
}

::selection {
    background: #fff;
    color:#2fa68e;
}
  
::-moz-selection {
    background: #fff;
    color:#2fa68e;
}
  
  
.container{
    position:absolute;
    width:100%;
    height:100%;
}

/* PAGINA INCIO */

.pagina-inicio{
    position:relative;
    width:100%;
    height:580px;
    background:url('../img/background/start-page.jpg') 0px 0px fixed;
}
  
.pagina-inicio .opacidad{
    position:absolute;
    width:100%;
    height:580px;
    background:rgba(0,0,0,0.7);
}

.lema:hover {
    color: #2fa65d;
}
  
.pagina-inicio .contenido{
    position:relative;
    width:900px;
    margin:0 auto;
    height:580px;
}

.pagina-inicio .contenido .texto{
    position:absolute;
    text-align:center;
    margin:auto;
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
    width:500px;
    height:320px;
}

.pagina-inicio .contenido .texto .leer-mas{
    width:183px;
    height:47px;
    margin:50px auto;
    line-height:47px;
    border:1px solid white;
    text-transform:uppercase;
    color:white;
    cursor:pointer;
    font-size:19px;
    background:none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
  
.pagina-inicio .contenido .texto .leer-mas:hover{
    color:black;
    background:#2fa65d;
}
  
.pagina-inicio .contenido .flecha-abajo{
    position: absolute;
    bottom: 110px;
    left: 50%;
    margin-left: -10px;
    width: 21px;
    height: 29px;
    background: url(../img/flecha-abajo.png) no-repeat center center;
    display: block;
    -webkit-animation: bounce-fade 1.2s infinite;
    -moz-animation:    bounce-fade 1.2s infinite;
    -o-animation:      bounce-fade 1.2s infinite;
     animation:        bounce-fade 1.2s infinite;
}
  
  
@-webkit-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}
  
@-moz-keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}

@-o-keyframes bounce-fade {
    0%   { opacity: 0; bottom:70px; }
    100% { opacity: 1; bottom: 35px; }
}
  
@keyframes bounce-fade {
    0%   { opacity: 0; bottom: 70px; }
    100% { opacity: 1; bottom: 35px; }
}

/* Menu */

.menu{
    position:relative;
    width:100%;
    height:90px;
    background:#2f363e;
    z-index:1000;
}
  
.menu-contenido{
    width:900px;
    position:relative;
    margin:0 auto;
}
  
.menu-contenido .logo {
    color: #a3b2c0;
    background:#2f363e;
    font-weight:700;
    font-size:23px;
    font-family: 'Patrick Hand', cursive;   
    width:300px;
    line-height:90px;
    float:left;
    list-style: none;
}
  
.menu-contenido .logo:hover {
    color: #2fa65d;
    background:#2f363e;
}
  
  
.menu-click{
    display:none;
}

.menu-click li {
    position:relative;
    width:100%;
    height:70px;
    color:white;
    font-size:29px;
    text-align:center;
    line-height:70px;
    background:#2fa68e;
    z-index:1000;
    border-bottom:1px solid #1a7966;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
   }
  
  .menu-click li:hover {
    color:#2f363e;
   }
  
  .menu-contenido ul{
  
    width:500px;
    left:50%;
    float:right;
    text-align:right;
    list-style:none;
  }
  
  .menu-contenido li{
     display:inline-block;
     position:relative;
  }
  
  .menu-contenido li a{
    color:#a3b2c0;
    font-size: 13px;
    display: block;
    padding: 0 20px 0 20px;
    line-height:90px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .menu-contenido li.active a{
    background-color:#131a21;
  }
  
  .menu-contenido li a:hover{
    color:white;
  }